body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hata404 {
    width:50%;
    margin:10% auto;
}
.hatarakam {
    display:block;
    font-size:200px;
    text-align:center;
}
.hatayazi {
    display:block;
    font-size:17px;
    text-align:center;
    margin-top:20px;
}